@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

li {
  list-style: none;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */
  color: #6070ff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  background-image: url("./image/headlinebackground.png");
  height: 60vh;
  padding-left: 24px;
}

.Primay-text {
  width: 327px;
  margin-bottom: 12px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.secondary-text {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-links {
  display: flex;
  gap: 1rem;
  padding-left: 0;
  align-items: baseline;
}

.connect {
  height: 24px;

  /* Body / 2 - Bolder */

  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.work1-image {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.work1-title {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 12px;
}

#p1 {
  width: 55px;
  height: 16px;

  /* Caption / 1 - Bolder */

  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 16px;
}

#p2 {
  width: 88px;
  height: 16px;

  /* Caption / 1 - Bolder */

  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

#desc {
  display: inline-block;
}




/* Project section */

.project-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

/* Project 1 */

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
}

.work-title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
margin-bottom: 5px;
margin-top: 10px;
/* or 138% */


/* Neutrals/N800 */

color: #070707;

}

.profession {
   display: flex;
   align-items: baseline;
   justify-content: space-around;
   gap: 1.5rem;
/* Caption / 1 - Bolder */

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */


/* Neutrals/N600 */

color: #344563;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.profession :first-child {
  font-weight: 1000;
  color: #050505;
}
.expert {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #C1C7D0;
}

.languages{
display: flex;
padding-left: 0;
gap: 1rem;
/* Button / Small */

font-family: 'Poppins', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
flex-flow: row;


letter-spacing: 0.03em;


color: #6070FF;


}

.languages li {
  background: #EBEBFF;
border-radius: 8px;
padding: 5px 10px;
}

.description {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* or 160% */


/* Neutrals/N600 */

color: #344563;

}

.see-project {
  background-color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-top: 20px;
  /* identical to box height, or 141% */

  letter-spacing: 0.03em;
  
  /* Primary/B500 */
  
  color: #396DF2;
  border: 2px solid #DFE1E6;
  border-radius: 16px;
  padding: 15px;
}

#pro{
  width: 102px;
height: 24px;

/* Button /Normal */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

/* Primary/B500 */

color: #396DF2;
}
.work2{
  width: 295px;
  height: 220px;
  
  background: url(image_processing20200714-9747-16mjqpg.png);
  border-radius: 8px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
}
#about{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* Neutrals/N600 */

color: #344563;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Get-my-resume{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #396DF2;
  border: 1px solid #DFE1E6;
  border-radius: 6px;
  padding: 8px;

/* Primary/B500 */

color: #396DF2;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.java-icon p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* or 133% */

display: flex;
align-items: center;

/* Neutrals/N700 */


color: #253858;

}
.java-icon {
  background: #F7F7F9;
border-radius: 8px;

/* Inside auto layout */
padding-left: 12px;
padding-top: 10px;
padding-right:35 ;
padding-bottom: 48;
flex: none;
order: 0;
flex-grow: 0;
}
.html-icon {
  background: #F7F7F9;
border-radius: 8px;

/* Inside auto layout */
padding-left: 12px;
padding-top: 10px;
padding-right:35 ;
padding-bottom: 48;
flex: none;
order: 0;
flex-grow: 0;
}
.html-icon p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  
  display: flex;
  align-items: center;
  
  /* Neutrals/N700 */
  
  
  color: #253858;
  
}

.css-icon {
  background: #F7F7F9;
border-radius: 8px;

/* Inside auto layout */
padding-left: 12px;
padding-top: 10px;
padding-right:35 ;
padding-bottom: 48;
flex: none;
order: 0;
flex-grow: 0;
}
.css-icon p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  /* or 133% */
  
  display: flex;
  align-items: center;
  
  /* Neutrals/N700 */
  
  
  color: #253858;
  
}
.lan-tools{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  gap: 1.5rem;
}
#frame p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  
  display: flex;
  align-items: center;
  
  /* Theme 1 /  Neutrals 3 */
  
  color: #344563;
}  
.last-part {
  background-color: #396DF2;
}
.last-part h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  /* Neutrals/N0 */
  
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  flex-grow: 0;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.last-part p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */

text-align: center;

/* Primary/B50 */

color: #EBEBFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}